<div class="container">
    <div class="row">
      <div class="col-md-4">

        <h3>Not Devoured</h3>
        <ul>
          {{#each burgers}}
            {{#unless this.devoured}}
              <li>
                {{this.burger_name}}

                <form action="/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="not_devoured" value="true">
                  <button type="submit">Eat it!</button>
                </form>

              </li>
            {{/unless}}
          {{/each}}
        </ul>
      </div>

      <div class="col-md-4">
        <div id="pic-container">
          <img src="assets/img/burger.png" id="slider">
        </div>
        <h1>Eat Da Burger!</h1>
        <div class="input-group" id="input-group">
          <input type="text" class="form-control" id="burger-input" placeholder="Burger" aria-label="burger" aria-describedby="burger-input">
          <input class="btn btn-primary" id="submit" type="submit" value="Submit">
          <p>Enter the name of a burger, then click submit!</p>
        </div>
      </div>

      <div class="col-md-4">

        <h2>Already eaten!</h2>
        <ul>
          {{#each burgers}}
            {{#if this.devoured}}
              <li>
                {{this.burger_name}}
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
    <!--close row-->

</div>


</body>

</html>
